@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body,
h5,
h4,
p,
button,
input,
div {
  font-family: "Roboto", sans-serif !important;
}
.container-fluid {
  padding: 0px !important;
  margin: 0px !important;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: none; /* no underline */
}

a:hover {
  color: #82cf8f; /* blue colors for links too */
  text-decoration: none; /* no underline */
}

#home-wrap,
nav {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

nav {
  margin-bottom: 100px;
}

.ReactModal__Content--after-open > h5 {
  text-align: center;
  margin-bottom: 30px;
}

.fileTitle {
  margin-right: 30px;
}

.navbar-brand {
  margin-right: 50px;
}

.work-wrap {
  margin-top: 150px;
}

.m-t-17 {
  margin-top: 17px;
}

.m-t-7 {
  margin-top: 7px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-l-30 {
  margin-left: 30px;
}

.p-r-60 {
  padding-right: 60px;
}

.p-l-100 {
  padding-left: 100px;
}

.task-wrap h5,
.task-wrap h4 {
  color: #269640;
  margin-bottom: 30px;
}

.stack-wrap h4 {
  text-align: center;
}

.stack-wrap .input-group {
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 30px;
}

.file-task-wrap .input-group {
  text-align: right;
}

.file-task-wrap {
  margin-bottom: 70px;
}

.stack-wrap .col-md-4,
.stack-wrap .col-md-8 {
  text-align: center;
}

.stack-wrap .btn {
  width: 130px;
  height: 44px;
}

.stack-wrap .btn-success {
  border-radius: 50px 0 0 50px;
}

.stack-wrap .btn-danger {
  border-radius: 0 50px 50px 0;
}

.stack-item {
  padding-top: 10px;
  height: 60px;
  border: 2px solid rgb(138, 137, 137);
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 22px;
  white-space: pre-line;
}

.stack-container {
  padding-top: 50px;
}

.queue-item {
  border-radius: 10px;
  display: inline-block;
  height: 60px;
  width: 60px;
  border: 2px solid rgb(138, 137, 137);
  margin-right: 10px;
  font-size: 22px;
  padding-top: 10px;
  margin-top: 10px;
}

.task {
  text-align: center;
}

.task h4 {
  padding: 11px;
}

.activeTask h4 {
  background-color: #82cf8f;
  border-radius: 30px;
  color: #fff;
}

.activeTask h4:hover {
  background-color: #f6b973;
}

.red-text {
  color: rgb(223, 91, 91);
}

.orange-text {
  color: #e0953f !important;
}

.al-c {
  text-align: center;
}

.ReactModal__Content--after-open {
  text-align: center;
}

.ReactModal__Content--after-open button {
  margin-top: 40px;
  width: 150px;
  height: 45px;
  font-size: 19px;
  border-radius: 50px;
}

.seach-wrap {
  padding: 10px;
  position: absolute;
  background-color: #82cf8f;
  width: 97%;
  top: 40px;
  border-radius: 5px;
}

.seach-wrap p {
  margin: 0px !important;
  padding: 0px !important;
  color: #fff;
  font-weight: 400;
  font-size: 17px;
}

.seach-input {
  position: relative;
}
